.topbar {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #3980bf;
    .itemtop1 {
        width: 179px;
        height: 100%;
    }
    .itemtop2 {
        display: flex;
        height: 100%;
        width: 800px;
        align-items: center;
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 5px;
            border-right: 1px solid #9aa2bf;
            font-size: 13px;
            text-decoration: none;
         }
         a:last-child {
            border-right: 0px solid #9aa2bf;
        }
        a:hover {
            background-color: chartreuse;
        }
    }
    .itemtop3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        .icon1 {
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
                padding: 5px;
            }
        }
        .icon2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin-left: 100px;
            img {
                width: 100%;
                height: 100%;
                padding: 5px;
            }
        }
    }
}
@media screen and (max-width: 912px) {

    .topbar {
        display: none;
        height: 30px;
        width: auto;
        background-color: #3980bf;
        .itemtop1 {
            width: 179px;
            height: 100%;
        }
        .itemtop2 {
            display: none;
            height: 100%;
            width: 800px;
            align-items: center;
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 5px;
                border-right: 1px solid #9aa2bf;
                font-size: 11px;
                text-decoration: none;
             }
             a:last-child {
                border-right: 0px solid #9aa2bf;
            }
            a:hover {
                background-color: chartreuse;
            }
        }
        .itemtop3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            
            .icon1 {
                width: 30px;
                height: 30px;
               
                img {
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                }
            }
            .icon2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-left: 100px;
                img {
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                }
            }
        }
    }

}